#fc{
    background-color: rgb(190, 253, 255);
}

#fc_name{
    background-color: rgb(190, 253, 255);
}

#acc{
    background-color: rgb(190, 253, 255);
}

#accu{
    background-color: rgb(190, 253, 255);
}
